- model_name = params[:controller].sub(/s$/, '')
- dir = params[:dir] == 'asc' ? 'desc' : 'asc'
.row
  %h1.page-header 
    All
    = model_name.titleize + "s"

.row
  .col-md-4.col-sm-6.col-xs-6
    - if @query.length > 0
      = render partial: 'query'
              
    - params.delete(:page)
  .col-md-8.col-sm-6.col-xs-6
    .pull-right
      = link_to "New #{model_name.titleize}", new_polymorphic_path(model_name), class: "btn btn-success" 

= render partial: "paging"

- if @data_values.length > 0
  .row
    %table.table.table-condensed.table-hover
      %thead
        %tr 
          - @class.column_names.each do |key|
            - if !HIDDEN_KEYS.include? key
              %th
                = link_to key.titleize, params.merge(order: key, dir: dir)
          - @class.reflect_on_all_associations.each do |association|
            %th
              - if [:has_many, :has_and_belongs_to_many, :belongs_to].include?(association.macro)
                = link_to association.name.to_s.titleize, polymorphic_path(association.name.to_s.capitalize.singularize.constantize)
                      
          %th
            .text-muted.pull-right
              Click heading to sort, click again to reverse sort.

      %tbody
        - @data_values.each do |value|
          = render partial: "value", object: value


= render partial: 'paging'
