- cache @lang do
  - content_for :title, @lang.name
  - content_for :disqus_identifier, "languages/#{@lang.name}"

  .row
    %h1.page-header
      = @lang.name

  .row
    %table.table.language_metrics
      %thead
        %tr
          %th Metric
          %th Score
          %th Detail
          %th Mean
          %th Max
      %tbody
        %tr.language_metric
          %td Complexity
          %td{style: "width: 200px;"}
            .progress
              .progress-bar{aria: { valuenow: @lang.phonemic_complexity * 100, valuemin: 0, valuemax: 100}, style: "width: #{@lang.percent_of_max_phonemes * 100}%;"}
                - percentile = (@lang.percent_of_max_phonemes * 100).round
                = "#{percentile}#{percentile.ordinal} %"
          %td
            = @lang.name
            has
            = @lang.phonemes.size
            phonemes,
            = @lang.phonemic_complexity.round(2)
            times the average.
          %td
            = Phoneme.mean.round(1)
          %td
            %span{class: "btn-link tooltipped", "data-title" => Language.most_phonemes.map(&:name).join(", ") }<>
              = Phoneme.most

  .row
    %h2
      Phonology

  .row
    = render partial: "sounds/ipa", locals: { alphabet: @lang.phonemes }
