- cache @lang do
  - content_for :title, @lang.name
  - content_for :disqus_identifier, "languages/#{@lang.name}"

  .row
    %h1.page-header
      = @lang.name

  .row
    %table.table.language_metrics
      %thead
        %tr
          %th Metric
          %th Score
          %th Detail
          %th Min
          %th Mean
          %th Max
      %tbody
        - @lang.language_metric_values.each do |metric_value|
          %tr.language_metric
          %td
            = metric_value.language_metric
          %td{style: "width: 200px;"}
            .progress
              .progress-bar{aria: { valuenow: metric_value.percentile * 100, valuemin: 0, valuemax: 100}, style: "width: #{metric_value.percentile * 100}%;"}
                = "#{(metric_value.percentile * 100).round.ordinalize } %"
          %td
            = @lang.name
            scores
            = metric_value.value.round(1)
            for
            = metric_value.language_metric
          %td
            %span{class: "btn-link tooltipped", "data-title" => metric_value.min_languages.map(&:name).join(", ") }<>
              = metric_value.min.round(1)
          %td
            = metric_value.language_metric.mean.round(1)
          %td
            %span{class: "btn-link tooltipped", "data-title" => metric_value.max_languages.map(&:name).join(", ") }<>
              = metric_value.max.round(1)
  .row
    %h2
      Phonology

  .row
    = render partial: "sounds/ipa", locals: { alphabet: @lang.phonemes }

  .row
    %h2
      Tags
    %ul.list-inline
      - @lang.tags.each do |tag|
        %li
          = link_to tag, tag
