- content_for :title, @lang.name
- content_for :disqus_identifier, "languages/#{@lang.name}"

.row
  %h1.page-header
    = @lang.name

.row
  .col-md-1
    %p.pull-right
      Complexity:
  .col-md-4
    .progress
      .progress-bar{aria: { valuenow: @lang.phonemic_complexity * 100, valuemin: 0, valuemax: 100}, style: "width: #{@lang.percent_of_max_phonemes * 100}%;"}
        %span.sr_only
          = "#{(@lang.percent_of_max_phonemes * 100).round(2)}% "
  .col-md-6
    = @lang.phonemes.size
    phonemes,
    = succeed "%" do
      = (@lang.phonemic_complexity * 100).round(2)
    of average. (Mean:
    = succeed "," do
      = Phoneme.mean.round(1)
    Max:
    = succeed ")" do
      = link_to Phoneme.most, Language.most_phonemes, class: "tooltipped", "data-title" => Language.most_phonemes.name

.row
  %h2
    Phonology

.row
  = render partial: "sounds/ipa", locals: { alphabet: @lang.phonemes }
