%header
  %nav.navbar.navbar-default{role: "navigation"}
    .navbar-header
      %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: ".navbar-header-collapse"}}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Home", "/", class: "navbar-brand"
    .navbar-collapse.collapse.navbar-header-collapse
      %ul.nav.navbar-nav
        %li
          = link_to "Phonetic Alphabet", sounds_path
        %li
          = link_to "Features", features_path
        %li
          = link_to "Languages", languages_path
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "About", about_path



